*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
main{}

.desktop-top-pic{
    display: none;
}
.desktop-bottom-pic{
    display: none;
}
.container{
    max-width: 375px;
    margin: 0 auto;
}
.main-box{
    margin-left: 2rem;
    margin-right: 2rem;
}

/* .main-text-head-box */
.main-text-head-box{
    background-image: url(bg-pattern-top-mobile.svg);
    background-size: contain;
    padding-top: 1rem;
    text-align: center;
}

.text-head{
    margin-top: 2rem;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
}

.info-text{
    margin: 1rem auto;
    color: hsl(303, 10%, 53%);
}

/* main-rate-box */
.main-rate-box{
    margin: 2rem auto;
}
.star{
    display: inline-flex;
    list-style: none;
    padding: 5px;
}
.star li{
    padding-left: 4px;
    padding-right: 4px;
}

.text-rate{
    font-weight: bold;
    padding: 5px;
    color: hsl(300, 43%, 22%);
}

.box-1{
    margin: 1rem auto;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;
}

.box-2{
    margin: 1rem auto;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;
}

.box-3{
    margin: 1rem auto;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;
}

/* main-user-reviews-box */
.main-user-reviews-box{
    background-image: url(bg-pattern-bottom-mobile.svg);
    background-size: contain;
    margin-bottom: 3rem;
}
.user-profile-box{
    margin-bottom: 1rem;
    justify-content: center;
    display: inline-flex;
}
.user-img{
    overflow: hidden;
    border-radius: 100%;
}
.user-info{
    margin-left: 10px;
}
.user-name{
    font-weight: bold;
}
.Verified-Buyer{
    color: hsl(333, 80%, 67%);
}

.user-box-1{
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
}

.user-box-2{
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
}

.user-box-3{
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
}

/* desktop-screen */
@media (min-width:1440px) {
    main{}
    .desktop-top-pic{
        display: block;
        position: absolute;
        background-size: contain;
    }
    .desktop-bottom-pic{
        display: block;
        position: absolute;
        left: 29%;
        top: 5%;
        background-size: contain;
    }
    .container{
        max-width: 1440px;
        margin: 0 auto;
    }

    /* main-text-head-box */
    .main-text-head-box{
        margin-right: 17rem;
        text-align: start;
        width: 25%;
        background-image: none;
        display: inline-block;
    }
    .text-head{
        font-size: 50px;
    }
    .info-text{
    }

    /* main-rate-box */
    .main-rate-box{
        padding-top: 2rem;
        margin-top: 5rem;
        display: inline-block;
        width: 50%;
    }
    .box-1{
        margin-right: 15rem;
        width: 70%;
    }
    .in-box-1{
        padding-top: 10px;
        padding-bottom: 10px;
        place-content: space-evenly;
        display:flex;
    }
    .box-2{
        width: 70%;
    }
    .in-box-2{
        padding-top: 10px;
        padding-bottom: 10px;
        place-content: space-evenly;
        display:flex;
    }
    .box-3{
        margin-left: 15rem;
        width: 70%;
    }
    .in-box-3{
        padding-top: 10px;
        padding-bottom: 10px;
        place-content: space-evenly;
        display:flex;
    }

    /* main-user-reviews-box */
    .main-user-reviews-box{
        background-image: none;
        width: 100%;
        display:flex
    }
    .user-box-1{
        margin-right: 2rem;
        width: 50%;
        height: 50%;
    }
    .user-box-2{
        margin-top: 3rem;
        margin-right: 2rem;
        width: 50%;
        height: 50%;
    }
    .user-box-3{
        margin-top: 5rem;
        margin-right: 2rem;
        width: 50%;
        height: 50%;
    }
}